<ng-container *ngFor="let data of componentData">
  <div class="draggable" [dndDraggable]="data" [dndEffectAllowed]="draggableMeta.effectAllowed"
    [dndDisableIf]="draggableMeta.disable" (dndStart)="onDragStart($event)" (dndCopied)="onDraggableCopied($event)"
    (dndLinked)="onDraggableLinked($event)" (dndMoved)="onDraggableMoved($event)" (dndCanceled)="onDragCanceled($event)"
    (dndEnd)="onDragEnd($event)">

    <!--TODO: image-->
    <div dndDragImageRef id="{{data.id}}-drag-image-ref">
      <div class="drag-title">{{ data.title }}</div>
    </div>

  </div>
</ng-container>